<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro pessoa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

</head>
<body>

  {% include "navBar.html"%}

  <div class="container d-flex justify-content-center d-flex align-items-center" style="height: 100vh;">
    <div class="container d-flex flex-column " style="max-width: max-content;">

        <h1 class="fw-normal h1">Cadastrar Veículo</h1>

        <form class="mb-3" action="">

                <input type="text" class="form-control mt-3" placeholder="CPF do dono" name="cpf">
                <input type="text" class="form-control mt-3" placeholder="Nome do veículo" name="nome">
                <input type="text" class="form-control mt-3" placeholder="cor do veículo" name="cor">
                <input type="text" class="form-control mt-3" placeholder="placa do veículo" name="placa">
          
            <button class="btn btn-primary mt-3" style="width: 100%;">Cadastrar</button>

        </form>

    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>

<script src="../static/script/script.js"></script>

</body>
</html>